$btnSize:100px;
$balloonSize:50px;
#btns{
  position: absolute;
  bottom:0;
  left:0;
  margin:0;
  padding: 0;
  width:100%;
  text-align:center;
  z-index:10;
  .btn{
    display: inline-block;
    width:$btnSize;
    height: $btnSize;
    border-radius: $btnSize/2;
    box-shadow:0px 1px 3px 1px rgba(0,0,0,0.8);
    margin:10px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    background-color:white;
  }
  @for $i from 1 through 4 {
    [data-btnId="#{$i}"] {
      background-image:url(../res/#{$i}.png)
    }
  }
  #chatInput{
    display:grid;
    grid-template-columns: 1fr 3fr 80px;
    height:20px;
    input{
      width:100%;
      height:20px;
      font-size:20px;
    }
    #sendBtn{
      color: #fff;
      background-color:#2196f3;
    }
  }
}
html,body{
  width:100%;
  height:100%;
  position: absolute;
  bottom:0;
  left:0;
  margin:0;
  padding: 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
#balloons{
  width:100%;
  height:100%;
  position: absolute;
  top:100px;
  left:0;
  margin:0;
  padding: 0;
  z-index:5;
  @for $i from 1 through 4 {
    .balloon.b#{$i} {
      background-image:url(../res/#{$i}.png)
    }
  }
  .balloon{
    width:$balloonSize;
    height: $balloonSize;
    position:absolute;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    
  }
}
#clicks{
  position: absolute;
  top:0;
  right:0;
  text-align:right;
  z-index:10;
}
#chats{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:table;
  .chat:nth-child(2n){
    background-color:#ddd;
  }
  .chat{
    display:table-row;
    .name{
      display:table-cell;
      max-width:80px;
      overflow:hidden;
      white-space: nowrap;
      word-wrap: normal;
      word-break: break-word;
      text-overflow: ellipsis;
    }
    .text{
      display:table-cell;
    }
  }
}

#tab{
  z-index:101;
  div{
    display:inline-block;
    
  }
}
