<div id="board">
  <div class="pairs" v-for="v in b">
    <span class="pair" @click='sound[v.currency_pair]=!sound[v.currency_pair]'>{{v.currency_pair}}</span>
    <span class="lastPrice">{{v.last_price.price}}</span>
    <input type="text" v-model="ignore[v.currency_pair]"/>
    <span v-show="sound[v.currency_pair]">ON</span>
    <br/>
    <div class="board">
      <div class="bids">
        <div class="bid" v-for="i in v.bids">
          <div class="price">{{i[0]}}</div>
          <div class="amount">{{i[1]}}</div>
        </div>
      </div>
      <div class="asks">
        <div class="ask" v-for="i in v.asks">
          <div class="price">{{i[0]}}</div>
          <div class="amount">{{i[1]}}</div>
        </div>
      </div>
    </div>
    <div class="trades">
      <div class="trade" v-for="i in v.trades" :class="i.trade_type">
        <div class="price">{{i.price}}</div>
        <div class="amount">{{i.amount}}</div>
      </div>
    </div>
  </div>
  通貨ペアクリックで音切り替え
  上部入力欄の数字以上の数量で音が変わります
</div>
