<div id="wrap">

  <div id="btns">
    <div class="btn" @click="send(1)" data-btnId="1"></div>
    <div class="btn" @click="send(2)" data-btnId="2"></div>
    <div class="btn" @click="send(3)" data-btnId="3"></div>
    <div class="btn" @click="send(4)" data-btnId="4"></div>
    <div id="chatInput">
      <input name="nameInput" type="text" v-model="nameInput" placeholder="名前"/>
      <input name="chatInput" type="text" v-model="chatInput" @keydown.enter="sendChat" placeholder="本文"/>
      <div id="sendBtn" @click="sendChat">送信</div>
    </div>
  </div>
  <div id="balloons">
    <div class="balloon" v-for="b in balloons" :class="'b'+b.id"
         :style="{left:b.left+'px',top:b.top+'px'}"></div>
  </div>
  <div id="clicks">{{clicks}}クリック/分,{{monaJpy.last_price.price}},{{monaJpy.last_price.action}}</div>
  <div id="chats">
    <div class="chat" v-for="c in chats">
      <div class="name">{{c.name}}</div>
      <div class="text">{{c.text}}</div>
    </div>
  </div>
</div>
